{% extends 'compliance/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block main-content %} 
<div class='text-right'>
  <a href="{% url 'tribunal_home' pk %}"><button class= 'btn btn-warning btn-lg text-success text-bolder'><h3>Tribunal Home</h3></button></a>
</div>
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>                    
                    <th scope="col">Issue</th>
                    <th scope="col">Additions</th>
                    <th scope="col">Admitted</th>
                    <th scope="col">Disputed</th>
                    <th scope="col">Demand Reason</th>
                    <th scope="col">Is_Disputed</th>
                    <th scope="col">is_Recommend</th>
                    <th scope="col">Recomend Reason</th>
                    <th scope="col">is_Approved</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% comment %} {% for add in add %} {% endcomment %}
                    Order:{{order}} <br>
                    App_Order:{{app_order}}
                    {% comment %} {% endfor %}   {% endcomment %}
                    {% for add in add %}                  
                  <tr>
                    {% comment %} <th scope="row">1</th> {% endcomment %}
                    <td>{{add.id}}</td>
                    <td>{{add.issue}}</td>
                    <td>{{add.demand}}</td>
                    <td>{{add.admitted_tax}}</td>
                    <td>{{add.disputed_tax}}</td>
                    <td>{{add.approval_reason}}</td>                    
                    <td>{{add.is_disputed}}</td>
                    <td>{{add.is_recommended}}</td>
                    <td>{{add.reco_reason}}</td>
                    <td>{{add.is_approved}}</td>
                    <td><a href="{% url 'recommend_appeal_action' pk add.id %}"><img height=20px, src="{% static 'compliance/img/edit.png' %}" alt=""></a></td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
{% endblock  %}

    
    