{% comment %} {% block main-content %}{% endblock main-content %} {% endcomment %}
<div class='container-fluid'>
<footer style="height: 40vh; background-color: #f2f2f2; text-align: center; display: flex; align-items: center; justify-content: center;">
    <div style="padding-top: 30px;">
      <a href="facebook.com" target="_blank" rel="noopener noreferrer"><img src="" alt="Facebook" style="height: 20px; width: 20px; margin-right: 10px;"></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><img src="twitter-icon.png" alt="Twitter" style="height: 20px; width: 20px; margin-right: 10px;"></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><img src="instagram-icon.png" alt="Instagram" style="height: 20px; width: 20px;"></a>
    
    <p style="margin-top: 10px; color: #999; font-size: 12px;">&copy; 2023 Your Website Name. All rights reserved.</p>
  </footer>
</div>


</div>
  