<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'compliance/css/bootstrap.css' %}" />
    <img src="{% static 'compliance/img/fakery.png' %}" alt="Pernod">>
    <title>Document</title>
</head>
<body>
    <h3>Pls add your Profile</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-control" method="POST">
                    {% csrf_token %}
                    {% for fm in form %}
                    {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br><br>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-info">Submit</button>
                 </form>
                   
    <script src="{%static 'compliance/js/jquery.js' %}"></script>
    <script src="{%static 'compliance/js/popper.js' %}"></script>
    <script src="{%static 'compliance/js/bootstrap.js' %}"></script>
</body>
</html>