{% extends 'compliance/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block main-content %} 
<div class='text-right'>
  <a href="{% url 'runmastertemp' pk %}"><button class= 'btn btn-warning btn-lg text-success text-bolder'><h3>Appeal Home</h3></button></a>
</div>
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Order</th>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Demand</th>
                    <th scope="col">Outcome</th>
                    <th scope="col">View</th>
                  </tr>
                </thead>
                <tbody>
                    {% comment %} {% for add in add %} {% endcomment %}
                  <tr>
                    {% comment %} <th scope="row">1</th> {% endcomment %}
                    <td>{{notice.id}}</td>
                    <td>{{notice.order}}</td>
                    <td>{{notice.order_no}}</td>
                    <td>{{notice.order_date}}</td>
                    <td>{{notice.demand}}</td>
                    <td>{{notice.outcome}}</td>
                    {% if notice.upload.url is not None %}
                    <td><a href="{{notice.upload.url}}"><img height=20px, src="{% static 'compliance/img/eye.png' %}" alt=""></a></td>
                        {% else %}
                        <td>No File</td>
                        {% endif %}
               
                    {% comment %} <td><a href="{% url 'update_appeal_action' pk add.id %}"><img height=20px, src="{% static 'compliance/img/edit.png' %}" alt=""></a></td> {% endcomment %}
                    {% comment %} {% endfor %} {% endcomment %}
                  </tr>
                </tbody>
              </table>
        </div>
{% endblock  %}

    
    