{% extends 'compliance/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block main-content %} 
<div class='text-right'>
  <a href="{% url 'runmastertemp' pk %}"><button class= 'btn btn-warning btn-lg text-success text-bolder'><h3>Appeal Home</h3></button></a>
</div>
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Order</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Demand</th>
                    <th scope="col">Admitted_Tax</th>
                    <th scope="col">Disputed_Tax</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Is_remanded</th>
                    <th scope="col">Is_Disputed</th>
                    <th scope="col">view</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for notice in notice %}
                  <tr>
                    {% comment %} <th scope="row">1</th> {% endcomment %}
                    <td>{{notice.id}}</td>
                    <td>{{notice.app_order}}</td>
                    <td>{{notice.issue}}</td>
                    <td>{{notice.demand}}</td>
                    <td>{{notice.admitted_tax}}</td>
                    <td>{{notice.disputed_tax}}</td>
                    <td>{{notice.reason}}</td>
                    <td>{{notice.is_remanded}}</td>
                    <td>{{notice.is_disputed}}</td>
                    {% if notice.upload.url is not None %} 
                    <td><a href="{{notice.upload.url}}"><img height=20px, src="{% static 'compliance/img/eye.png' %}" alt=""></a></td>
                        {% else %}
                        <td>No File</td>
                        {% endif %}
               
                    <td><a href="#"><img height=20px, src="{% static 'compliance/img/edit.png' %}" alt=""></a></td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
{% endblock  %}

    
    